
body {
    background-color: #30302f;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

p {
    overflow-wrap: break-word;
}

#home-title {
    font-size: 1.5rem;
}

.jumbotron {
    background-color: #535453;
}

#reported_comments {
    background-color: #cc8800;
}

#admin-name {
    margin-right: 35%;
}